/*
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

.jumbotron {
	background: no-repeat center/110% url(splash.jpeg);
  height: 650px;
 }

 body {
  font-family: monospace;
  color: #ffffff;
 }

 .splash {
  padding-top: 170px;
 }

a {
  color: #ffffff;
}

/* .jumbotron {
	background: no-repeat center center, url(splash.jpg) ;
 }*/