/*
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

.jumbotron {
	background-image: url(splash.jpeg);
	background-repeat: no-repeat;
	height: 700px;
 }

 body {
  font-family: monospace;
  color: #ffffff;
 }

 .splash {
  padding-top: 200px;
 }

a {
  color: #ffffff;
}

/* .jumbotron {
	background: no-repeat center center, url(splash.jpg) ;
 }*/